[TEMPLATE]
# Stellar network configuration
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# GravoEdge Soroban contract addresses
GRAVOEDGE_CORE_ADDRESS=#

# Database creds
DB_USER=#
DB_PASSWORD=#
DB_NAME=#
DB_HOST=#
DB_PORT=#
